# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
.gradle/
local.properties
**/GeneratedPluginRegistrant.java
*.keystore
*.jks
*.properties
build/

# iOS
.generated/
DerivedData/
Pods/
Runner.xcworkspace
!Runner.xcworkspace/contents.xcworkspacedata

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log
